{% extends ':admin.html.twig' %}

{% block pageTitle %}
    Login
{% endblock %}

{% block body %}
    <h1>Login</h1>

    <h2>{{ error }}</h2>
    <a href="{{ path('admin_user') }}" class="btn btn-primary">Voltar</a>

{% endblock %}
